<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'VDE', root_path, class: "navbar-brand", id: 'logo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Registrar Recrutador', new_headhunter_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
         <li class="nav-item">  
          <%= link_to 'Vagas', job_opportunities_path, class: "nav-link" %>
         </li> 
          <li class="nav-item">  
            <%= link_to 'Registrar Usuário', new_user_registration_path, class: "nav-link",id: 'User'%>
          </li>
          <li class="nav-item">  
            <% if headhunter_signed_in? %>
              <%= link_to 'Sair', destroy_headhunter_session_path, method: :delete, class: "nav-link"%>
            <% else %>
              <%= link_to 'Entrar como Recrutador', new_headhunter_session_path, class: "nav-link"%>
            <% end %>
          </li>
          <li class="nav-item">  
            <% if user_signed_in? %>
              <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "nav-link"%>
            <% else %>
              <%= link_to 'Entrar como Usuário', new_user_session_path, class: "nav-link"%>
            <% end %>
          </li>
      </li>
    </ul>
    
  </div>
</nav>
