<h2>Detalhes do perfil</h2>

<div  style="width:200px; height:auto">
  <%= image_tag(@perfil.avatar, class: "rounded mx-auto d-block" )if @perfil.avatar.nil? %>
</div>
<%= @perfil.full_name %> 

<% if headhunter_signed_in? && current_headhunter.is_job_seeker_favorite?(@perfil)%>
  <span id="favorite" class="glyphicon glyphicon-search" aria-hidden="true"></span>
<% end %>
<%= @perfil.social_name %>
<%= l @perfil.date_birth if @perfil.date_birth %>
<%= @perfil.degree %>
<%= @perfil.description %>
<%= @perfil.work_experience %>
<% if user_signed_in?%>
  <% @perfil.job_perfils.each do |job_perfil|%>
    <%= job_perfil.job_opportunity.title %>
    <%= job_perfil.feedback %>
  <% end %>
  <% if @perfil.job_opportunities.present?%>
    <% @perfil.job_opportunities.each do |job_perfil| %>
      <p>Participando da vaga: <%= job_perfil.title %></p>
    <% end %>
  <% end %>
<% end %>

<% if headhunter_signed_in?%>
  <%= link_to 'Comentar', new_perfil_comment_path(@perfil) %>
  <% @comments.each do |comment|%>
    <%= comment.message %>
  <% end %>
  <% @perfil.job_perfils.each do |job_perfil|%>
    <%= job_perfil.job_opportunity.title %>
    <%= job_perfil.feedback %>
  <% end %>
  <%= link_to 'Favorito', perfil_favorites_path(@perfil), method: :post %>
<% end %>


<% @perfil.offers.order(created_at: :desc).each do |offer| %>
  <%= offer.salary %>
  <%= offer.benefit %>
  <%= offer.role %>
  <%= l offer.begin_date %>
  <% if offer.criado?%>
    <%= link_to 'Aceitar', job_opportunity_offer_accept_path(offer.job_opportunity,offer), method: :put %>
    <%= link_to 'Rejeitar', job_opportunity_offer_reject_path(offer.job_opportunity,offer) %>
  <% else %>
    <p><%= offer.aceito? ? 'Oferta aceita' : 'Oferta rejeitada'%></p>
  <% end %>
<% end %>
