<h2>Detalhes do perfil</h2>

<div  style="width:200px; height:auto">
  <%= image_tag(@perfil.avatar, class: "rounded mx-auto d-block" )if @perfil.avatar.nil? %>
</div>

<%= @perfil.full_name %>
<%= @perfil.social_name %>
<%= l @perfil.date_birth if @perfil.date_birth %>
<%= @perfil.degree %>
<%= @perfil.description %>
<%= @perfil.work_experience %>
<% if @perfil.job_perfils.present?%>
<% binding.pry%>
  <p>Participando da vaga : <%= @perfil.job_opportunities %></p>
<% end %>