<h1>Proposta para candidato</h1>

<%= form_with model: [@job_opportunity, @offer], locas: true do |f| %>
  <%= f.label :begin_date %>
  <%= f.date_field :begin_date %>
  <%= f.label :salary %>
  <%= f.date_field :salary %>
  <%= f.label :benefit %>
  <%= f.date_field :benefit %>
  <%= f.label :role %>
  <%= f.date_field :role %>
  <%= f.hidden_field :profile_id, value: @profile.id %>
  <%= f.submit 'Enviar' %>
<% end %>