<h1>Proposta para candidato</h1>

<%= form_with model: [@job_opportunity, @offer], locas: true do |f| %>
  <%= f.label :begin_date, 'Data de inicio' %>
  <%= f.date_field :begin_date %>
  <%= f.label :salary, 'Salário' %>
  <%= f.date_field :salary %>
  <%= f.label :benefit, 'Benefícios' %>
  <%= f.date_field :benefit %>
  <%= f.label :role, 'Funções do cargo' %>
  <%= f.date_field :role %>
  <%= f.hidden_field :perfil_id, value: @perfil.id %>
  <%= f.submit 'Enviar' %>
<% end %>