<h2 class="text-center">Detalhes</h2>

<p><%= @job_opportunity.title %></p>
<p><%= @job_opportunity.description %></p>
<p><%= @job_opportunity.skills %></p>
<p><%= JobOpportunity.human_attribute_name(:salary) %>: <%= @job_opportunity.salary %></p>
<p><%= @job_opportunity.job_level %></p>
<p><%= l @job_opportunity.end_data %></p>
<p><%= JobOpportunity.human_attribute_name(:location) %>: <%= @job_opportunity.location %></p>
<p><%= @job_opportunity.headhunter.email %></p>

<%= link_to 'Editar', edit_job_opportunity_path(@job_opportunity) %>
<%= link_to 'Voltar', job_opportunities_path %>
