<h2 class="text-center">Detalhes</h2>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          <div class="card-header font-italic">
            <%= @job_opportunity.title %>
          </div>
          <div class="card-body">
            <%= @job_opportunity.description %>
          </div>
          <div class="card-body">
            <%= @job_opportunity.skills %>
          </div>
           <div class="card-body">
            <%= JobOpportunity.human_attribute_name(:salary) %>: <%= @job_opportunity.salary %>
          </div>
           <div class="card-body">
            <%= @job_opportunity.job_level %>
          </div>
           <div class="card-body">
            <%= l @job_opportunity.end_data %>
          </div>
           <div class="card-body">
            <%= JobOpportunity.human_attribute_name(:location) %>: <%= @job_opportunity.location %>
          </div>
           <div class="card-body">
            <%= @job_opportunity.headhunter.email %>
          </div>
          
          <%= link_to 'Candidatos da Vaga', job_opportunity_job_perfils_path(@job_opportunity) %>
          <%= link_to 'Inscrever', job_opportunity_job_perfils_path(@job_opportunity), method: :post%>
          <%= link_to 'Editar', edit_job_opportunity_path(@job_opportunity), class: "btn btn-outline-dark btn-lg" %>
          <%= link_to 'Apagar', job_opportunity_path(@job_opportunity), method: :delete, data: {confirm: 'Você tem certeza'}, class: "btn btn-outline-dark btn-lg" %>
          <%= link_to 'Voltar', job_opportunities_path, class: "btn btn-outline-dark btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>
